/* Default styling for page body */

body {
  font-family: monospace;
  margin: -5px 0 0 0;
  max-width: 756px;
  padding: 20px;
}

/* Shadow box div style */

.explainer {
  background-color: #ececec;
  border-bottom-style: solid;
  border-radius: 5px;
  color: #2a2a2a;
  font-size: smaller;
  font-style: italic;
  padding: 10px;
}

/* Internal vs External Links */
/* Stack Overflow: https://stackoverflow.com/questions/26898931/ */

a:not([href*='//']) {
  color: black;
  text-decoration-style: dotted;
}

a[href*='//']{
  color: black;
}


/* Mouse Interactions */

a[href*='//']:hover {
  color: white;
  background: black;
}

a:not([href*='//']):hover {
  color: black;
  background: #fadadd;
}

::selection {
  background: #fadadd;
}


/* Plain hover for external links where background doesn't work */

a[href*='//']:hover.plain {
  background-color: white;
  text-decoration-style: none;
}


/* Heading Styles */

h1 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin: 0.67em 0;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin: 0.67em 0;
}

h4 {
  font-size: 0.85em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin: 0.67em 0;
}

h5 {
  font-size: 0.85em;
  font-weight: normal;
  font-style: italic;
  margin: 0.67em 0;
}

h6 {
  font-size: 0.7em;
  font-weight: normal;
  font-style: italic;
  margin: 0.67em 0;
}
