---
layout: default
title: Video Games
permalink: /videogames/
---

<p><em><u>Played</u></em> <em><a href="/videogames/backlog/">Backlog</a></em> <em><a href="/videogames/wishlist/">Wishlist</a></em></p>

{% assign sorted = site.games | sort: 'developer' %}
	{% for item in sorted %}
			{% if item.progress contains "now" or item.progress contains "complete" or item.progress contains "stopped" %}
				{{ item.developer }}, <em><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></em>, {{ item.releaseDate | date: "%Y" }}
				<br>
			{% endif %}
	{% endfor %}
