<ul style="padding-left: 15px;">
  <li><a href="https://www.interactive.org/" class="p-org" target="_blank" rel="noopener noreferrer" title="Academy of Interactive Arts and Sciences">AIAS</a></li>
  <li><a href="https://gamestudies.ca/" class="p-org" target="_blank" rel="noopener noreferrer" title="Canadian Game Studies Association">CGSA</a></li>
  <li><a href="https://igda.org/" class="p-org" target="_blank" rel="noopener noreferrer" title="International Game Developers Association">IGDA</a></li>
  <li><a href="https://www.pmi.org/" class="p-org" target="_blank" rel="noopener noreferrer" title="Project Management Institute">PMI</a></li>
  <li><a href="https://www.ttgda.org/" class="p-org" target="_blank" rel="noopener noreferrer" title="Tabletop Game Designers Association">TTGDA</a></li>
</ul>
