<ul style="padding-left: 15px;">
  <li><a href="/intermezzo/">Intermezzo</a></li>
  <li><a href="/juvenilia-3/">Juvenilia, 3</a></li>
  <li><a href="/field-notes-2/">Field Notes, 2</a></li>
  <li><a href="/excurses-3/">Excurses, 3</a></li>
  <li><a href="/dialogues/">Dialogues</a></li>
  <li><a href="/excurses-2/">Excurses, 2</a></li>
  <li><a href="/juvenilia-2/">Juvenilia, 2</a></li>
  <li><a href="/excurses/">Excurses</a></li>
  <li><a href="/juvenilia/">Juvenilia</a></li>
  <li><a href="/field-notes/">Field Notes</a></li>
</ul>
