<div class="h-card" rel="me">
  <a href="/images/favicon.png"><img class="u-photo" src="/images/favicon.png" width="50" height="50"></a>

  <ul style="padding-left: 15px;" >
    <li><span class="p-name" title="Name">Eric Stein</span></li>
    <li><span class="pronunciation" title="Phonetic">ɛrɪk staɪn</span>
    <li><span class="u-pronoun" title="Pronouns">he, him, his</span>
    <li><span class="p-signs"><abbr title="Sun in Capricorn">☉♑︎</abbr> <abbr title="Moon in Pisces">☽︎♓︎</abbr> <abbr title="Water Monkey">🜄猴</abbr> 🜚∞</span>
    <li><span class="p-honorific-suffix"><a href="https://arcabc.ca/islandora/object/twu%3A456" target="_blank" rel="noopener noreferrer" title="Degree">MA</a>, <a href="https://www.credly.com/badges/6f45012d-252c-4db3-9247-d2ce0e4725c3" target="_blank" rel="noopener noreferrer" title="Designation">PMP</a></span>
    <li><span class="p-nickname" title="Nickname">@steinea</span>
    <li><a class="u-url u-uid" title="URL" rel="me" href="https://steinea.ca">https://steinea.ca</a>
    <li><a class="u-email" title="Email" href="mailto:steinea@protonmail.com">steinea at protonmail dot com</a>
    <li><a class="u-key" title="PGP" href="/pgp/" rel="me pgpkey">B5B0 AA7E D450 9C8B</a>
    <li><a class="p-org" title="Organization" href="https://www.ea.com/en-ca" target="_blank" rel="noopener noreferrer">Electronic Arts</a>
    <li><span class="p-job-title" title="Title">Development Director</span>
    <li><span class="p-role" title="Role">Project Management</span>
    <li><span class="p-industry" title="Industry">Game Development</span>
    <li><a class="p-region" title="Region" href="https://en.wikipedia.org/wiki/British_Columbia" target="_blank" rel="noopener noreferrer">British Columbia</a>
    <li><a class="p-country-name" title="Country" href="https://en.wikipedia.org/wiki/Canada" target="_blank" rel="noopener noreferrer">Canada</a>
  </ul>

<!-- Verifying my OpenPGP key: openpgp4fpr:ECEDBC433379CF13E2534C29B5B0AA7ED4509C8B -->

</div>
