<ul style="padding-left: 15px;">
  <li><a href="/bluray/">Bluray</a></li>
  <li><a href="/boardgames/">Board Games</a></li>
  <li><a href="/books/">Books</a></li>
  <li><a href="/films/">Films</a></li>
  <li><a href="/gunpla/">Gunpla</a></li>
  <li>Kits <em>WIP</em></li>
  <li><a href="/lego/">Lego</a></li>
  <li><a href="/magic/">Magic</a></li>
  <li><a href="/television/">Television</a></li>
  <li><a href="/videogames/">Video Games</a></li>
  <li><a href="/vinyl/">Vinyl</a></li>
  <li><a href="/warhammer/">Warhammer</a></li>
  <li><a href="/zines/">Zines</a></li>
</ul>
