<ul style="padding-left: 15px;">
  <li><a href="/about/">/about</a></li>
  <li><a href="/affiliations/">/affiliations</a></li>
  <li><a href="/buttons/">/buttons</a></li>
  <li><a href="/changelog/">/changelog</a></li>
  <li><a href="/follow/">/follow</a></li>
  <li><a href="/genealogy/">/genealogy</a></li>
  <li><a href="/h-card/">/h-card</a></li>
  <li><a href="/license/">/license</a></li>
  <li><a href="/now/">/now</a></li>
  <li><a href="/personality/">/personality</a></li>
  <li><a href="/pgp/">/pgp</a></li>
  <li><a href="/resume/">/resume</a></li>
  <li><a href="/slashes/">/slashes</a></li>
  <li><a href="/verify/">/verify</a></li>
</ul>

<!--
<p><em>Not yet created:</em></p>

<ul>
  <li>/ai</li>
  <li>/blogroll</li>
  <li>/colophon</li>
  <li>/contact</li>
  <li>/defaults</li>
  <li>/guy</li>
  <li>/hello</li>
  <li>/ideas</li>
  <li>/interests</li>
  <li>/links (though, see <a href="/wiki/">/wiki</a>)</li>
  <li>/next</li>
  <li>/podroll</li>
  <li>/shoebox</li>
  <li>/someday</li>
  <li>/tip</li>
  <li>/uses</li>
  <li>/where (and /been) </li>
  <li>/wish</li>
</ul>
-->
