---
layout: default
title: Watching
permalink: /watching/
---

<h2>Films</h2>

<p><em>Mirrors: <a href="https://letterboxd.com/steinea/films/by/date/" target="_blank">Letterboxd</a></em></p>

<br>

<table>
  <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Director</th>
		<th>Rating</th>
  </tr>
  {% assign sorted = site.films | sort: 'date' | reverse %}
  {% for item in sorted %}
  <tr>
    <td>{{ item.watched }}</td>
    <td><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></td>
    <td>{{ item.director }}</td>
    <td>{{ item.rating }}</td>
	</tr>
  {% endfor %}
</table>


<br>

<h2>Television</h2>

<table>
  <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Series</th>
		<th>Episode</th>
  </tr>
  {% assign sorted = site.television | sort: 'date' | reverse %}
  {% for item in sorted %}
  <tr>
    <td>{{ item.watched }}</td>
    <td><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></td>
    <td>{{ item.series }}</td>
    <td>S{{ item.season }}E{{ item.episode }}</td>
	</tr>
  {% endfor %}
</table>
