---
layout: default
title: Bibliographies
permalink: /bibliographies/group/
---

<p><em><a href="/bibliographies/">Stream</a></em> <em><u>Group</u></em></p>

<h2>Design</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "design" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Drama</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "drama" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Games</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "games" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Linguistics</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "linguistics" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Literature</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "literature" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Outdoors</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "outdoors" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Philosophy</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "philosophy" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Science</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "science" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Teaching</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "teaching" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Technology</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "technology" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Theology</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "theology" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}
</p>

<br>


<h2>Warfare</h2>

<p>
{% for post in site.categories.bibliography %}
  {% if post.tags contains "warfare" %}
   {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
   <br>
  {% endif %}
{% endfor %}

<br>
