---
layout: default
title: Wiki
permalink: /wiki/group/
---

<p><em><a href="/wiki/">Heap</a></em> <em><a href="/wiki/stream/">Stream</a></em> <em><u>Group</u></em></p>

<br>

<h2 id="art">Art</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "art" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="associations">Associations</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "associations" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="athletics">Athletics</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "athletics" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="authorship">Authorship</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "authorship" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="bookseries">Book Series</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "book-series" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="climate">Climate</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "climate" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="collectives">Collectives</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "collectives" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="concepts">Concepts</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "concepts" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="conferences">Conferences</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "conferences" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="festivals">Festivals</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "festivals" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="funds">Funds</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "funds" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="gamejams">Game Jams</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "game-jams" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>


<h2 id="gamestudios">Game Studios</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "game-studios" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>


<h2 id="gamesjobs">Games Jobs</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "games-jobs" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>


<h2 id="gamesjournalism">Games Journalism</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "games-journalism" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>


<h2 id="institutes">Institutes</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "institutes" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="internet">Internet</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "internet" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="journals">Journals</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "journals" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="lego">Lego</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "lego" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="literaryreviews">Literary Reviews</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "literary-reviews" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="magazines">Magazines</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "magazines" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="military">Military</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "military" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="mtg">Magic: The Gathering</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "magic-the-gathering" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>


<h2 id="people">People</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "people" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="politics">Politics</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "politics" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="psychometrics">Psychometrics</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "psychometrics" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="publishing">Publishing</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "publishing" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="religion">Religion</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "religion" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="schoolsofthought">Schools of Thought</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "schools-of-thought" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="smallgames">Small Games</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "small-games" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="space">Space</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "space" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="standards">Standards</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "standards" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="tabletopgames">Tabletop Games</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "tabletop-games" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="videogames">Video Games</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "video-games" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="workshops">Workshops</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "workshops" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>

<h2 id="worldbuilding">Worldbuilding</h2>

{% assign sorted = site.wiki | sort: 'title' %}
  {% for item in sorted %}
    {% if item.subcategory contains "worldbuilding" %}
      <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
      <br>
    {% endif %}
  {% endfor %}

<br>
